{% extends '@admin/navigation/sidebar-menu.html.twig' %}

{% block navigation %}
    {{ parent() }}
    <li>
        <a href="{{site.uri.public}}/companies"><i class="fas fa-building"></i></i> <span>List of Companies</span></a>
    </li>
     <li>
        <a href="{{site.uri.public}}/employees"><i class="fas fa-building"></i></i> <span>List of Employees</span></a>
    </li>
{% endblock %}
